@{
    ViewData["Title"] = "Gestione Dipendenti";
}

@section pageTitle {
    <div class="page-title position-absolute start-50 translate-middle">
        @ViewData["Title"]
        <small class="text-muted"></small>
    </div>
}

@section navbar {
    <nav class="navbar navbar-expand-lg bg-body-tertiary justify-content-md-center mb-5">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Centro -->
                <ul class="navbar-nav gap-5 position-absolute start-50 translate-middle-x">
                    <li class="nav-item"><a class="nav-link" href="@Url.Action(MVC.Example.Users.Index())">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="@Url.Action(MVC.Example.Users.GestioneNavi())">Gestione Navi</a></li>
                    <li class="nav-item"><a class="nav-link active" href="@Url.Action(MVC.Example.Users.GestioneDipendenti())">Gestione Dipendenti</a></li>
                </ul>
            </div>
        </div>
    </nav>
}

<h1>Gestione Dipendenti</h1>
