@{
    ViewData["Title"] = "Gestione Navi";
}

@section pageTitle {
    <div class="page-title position-absolute start-50 translate-middle">
        @ViewData["Title"]
        <small class="text-muted"></small>
    </div>
}

@section navbar {
    <nav class="navbar navbar-expand-lg bg-body-tertiary justify-content-md-center mb-5">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Centro -->
                <ul class="navbar-nav gap-5 position-absolute start-50 translate-middle-x">
                    <li class="nav-item"><a class="nav-link" href="@Url.Action(MVC.Example.Users.Index())">Home</a></li>
                    <li class="nav-item"><a class="nav-link active" href="@Url.Action(MVC.Example.Users.GestioneNavi())">Gestione Navi</a></li>
                    <li class="nav-item"><a class="nav-link" href="@Url.Action(MVC.Example.Users.GestioneDipendenti())">Gestione Dipendenti</a></li>
                </ul>
                <!-- Destra -->
                <form class="d-flex ms-auto" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" />
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
}

<!-- Tabella -->
<div class="d-flex justify-content-center gap-4">
    <!--  Navi Oggi -->
    <div class="navi-container d-flex flex-column">
        <h3 class="mb-3 text-center">Navi oggi</h3>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-1">
            <button class="btn btn-secondary btn-sm" type="button">Solo Gruisti</button>
            <button class="btn btn-secondary btn-sm" type="button">Solo Mulettisti</button>
        </div>
        <table class="navi-rows-columns table table-bordered  w-100 text-center">
            <thead>
                <tr>
                    <!-- riga -->
                    <th></th> <!-- intestazione -->
                    <th>Data</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Nome Nave</th>
                    <th>Orario</th>
                    <th>Ruoli richiesti</th>
                </tr>
                <tr>
                    <td></td> <!-- cella di dati -->
                    <th>
                        <div class="row text-center">
                            <div class="col border-end">00:00 - 08:00</div>
                            <div class="col border-end">08:00 - 16:00</div>
                            <div class="col">16:00 - 00:00</div>
                        </div>
                    </th>
                    <td></td>
                </tr>
                <tr>
                    <td>nave 1...</td>
                    <td>
                        <table class=" w-100 text-center">
                            <tbody>
                                <tr>
                                    <td class="border-end">.</td>
                                    <td class="border-end">.</td>
                                    <td class="">.</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>Gruisti, Mulettisti</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--  Navi Domani -->
    <div class="navi-container d-flex flex-column">
        <h3 class="mb-3 text-center">Navi oggi</h3>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-1">
            <button class="btn btn-secondary btn-sm" type="button">Solo Gruisti</button>
            <button class="btn btn-secondary btn-sm" type="button">Solo Mulettisti</button>
        </div>
        <table class="navi-rows-columns table table-bordered  w-100 text-center">
            <thead>
                <tr>
                    <!-- riga -->
                    <th></th> <!-- intestazione -->
                    <th>Data</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Nome Nave</th>
                    <th>Orario</th>
                    <th>Ruoli richiesti</th>
                </tr>
                <tr>
                    <td></td> <!-- cella di dati -->
                    <th>
                        <div class="row text-center">
                            <div class="col border-end">00:00 - 08:00</div>
                            <div class="col border-end">08:00 - 16:00</div>
                            <div class="col">16:00 - 00:00</div>
                        </div>
                    </th>
                    <td></td>
                </tr>
                <tr>
                    <td>nave 1...</td>
                    <td>
                        <table class=" w-100 text-center">
                            <tbody>
                                <tr>
                                    <td class="border-end">.</td>
                                    <td class="border-end">.</td>
                                    <td class="">.</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>Gruisti, Mulettisti</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
