//Variabili
$page-title-top: 50px;
$page-title-size: 30px;

//titolo pagina
.page-title {
    top: $page-title-top;
    font-size: $page-title-size;
    font-weight: bold;
}

//tabella
.navi-container {
    flex: 1;
    max-width: 48%;
}

.navi-rows-columns {
    width: 48%;
}

